#parse( "common/shared.vm" )

{
  "swagger": "2.0",
  "info": {
    "title": "Consumer Data Standards",
    "description": "API sets created by the Australian Consumer Data Standards to meet the needs of the Consumer Data Right",
    "version": "1",
    "license": {
      "name": "MIT Licence",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "data.provider.com.au",
  "basePath": "/cds-au/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
  
#foreach($section in $api.sections)

#foreach($endpoint in $section.endpoints)
$endpoint
   "$endpoint.path()": {
      "get": {
        "summary": "$endpoint.summary()",
        "description": "$endpoint.description()",
        "operationId": "tbd",
        "tags": [
#foreach ($oneTag in $section.definition.tags())
            "$oneTag"#if( $foreach.hasNext ),#end
#end

        ],
        "responses": {
#foreach($endpointResponse in $endpoint.responseList())        
          "$endpointResponse.responseCode()": {
            "description": "$endpointResponse.description()",
            "schema": {
$endpointResponse.content().getSimpleName()
              "$ref": "tbd"
            }
          }
#end          
        },
        "x-version": "1"
      }
    }
  },
#end
#end

}
